@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

@layer base {

    html,
    body {
        @apply antialiased;
        font-family: "Montserrat", sans-serif;
    }
}

#svg-turkiye-haritasi path {
    cursor: pointer;
    fill: #fff;
}

#svg-turkiye-haritasi path:hover {
    fill: #1094F6;
}